@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import "tailwindcss";
* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e; /* corrected hex */
}

body {
  color: white;
  background-color: #09090B;
}
